<%- include ('partials/header.ejs') %>
<%- include ('partials/navbar.ejs') %>


<div class="container-formulario">
    <h3> Registro de Rotas </h3>
    <hr>
    <div class="wrapper">
    <div class="cadastrar">
        <h4> Cadastrar nova Rota </h4>
        <hr>
        <form action="/rotas/new" method="POST">
            <div class="inserir-dados">
            <label> Titulo do Percurso:</label>
            <input type="text" name="titulo-percurso" placeholder="Digite o titulo do percurso" class="form-input" required>
            <br>
            <label> Cidade localizada:</label>
            <select name="cidades" id="cidades">
                <option value="Registro">Registro</option>
              </select> 
              <br>
            <label> Longitude:</label>
            <input type="text" name="longitude-inicio" placeholder="Digite a longitude" class="form-input" required>
            <label>Latitude:</label>
            <input type="text" name="latitude-inicio" placeholder="Digite a latitude" class="form-input" required>
            <br><br>

            <label>Imagem de capa:</label>
            <div class="cadastro-arquivo" method="post" enctype="multipart/form-data">
                <form action="/upload-capa">
                    <input type="file" name="upload-capa" class="btn-arquivo" required>    
                </form>
            </div>

            <div class="div-botao">
                <button name="cadastrar-rota" class="button-cadastro"> Cadastrar </button>
            </div>
            </div>
        </form>
    </div>

        <div class="consultar">
            <h4> Consultar Rotas </h4>
            <div class= "pesquisa">
            </div>
            <table>
              <thead>
                <th> Id </th>
                <th> Nome da Rota </th>
                <th> Cidade </th>
                <th> Longitude </th>
                <th> Latitude </th>
                <th> Capa </th>
                <th style="text-align: center;" colspan="2">Ações:</th>
              </thead>
              <tbody>
                <% rotas.forEach(rota => { %>
                <tr>
                    <td><%= rota.tituloRota %></td>
                    <td><%= rota.cidadeLocalizada %></td>
                    <td><%= rota.longitudeRota %></td>
                    <td><%= rota.latitudeRota %></td>
                    <td><%= rota.imagemCapa %></td>
                    <td><%= rota.descricaoRota %></td>
                    <td><a style="color: orange;" href="/rotas/edit/<%= rota.tituloRota %>">Editar</a></td>
                    <td><a style="color: red;" href="/rotas/delete/<%= rota.tituloRota %>">Excluir</a></td>
                </tr>
                <% }) %>
              </tbody>
                <tr>
                    <td>a</td>
                    <td>KKKK</td>
                    <td>Registro/SP</td>
                    <td>xxxxxxxxxx</td>
                    <td>yyyyyyyyyy</td>
                    <td><img src="#" height="20px"></td>
                    <td>
                        <Button name="abrir-mapa" class="abrir-mapa"> <i class = "fas fa-map"></i></Button>
                    </td>
                    <td>
                        <Button name="editar-rota" class="btn-editar"> <i class = "fas fa-pencil"></i>
                        </Button>
                    </td>
                    <td>
                        <Button name="excluir-rota" class="btn-excluir"> <i class = "fas fa-cancel"></i></Button>
                    </td>
                </tr>
                
            </table>
    </div>
</div>
</div>

<div class="janela-modal" id="janela-modal-mapa">
    <div class="modal-mapa">
        <button class="fechar-modal" id="fechar-modal">X</button>
        <h1>Oi</h1>
    </div>
</div>

<%- include ('partials/footer.ejs') %>
