<%- include ('partials/header.ejs') %>
<%- include ('partials/navbar.ejs') %>

<div class="container-formulario">
    <h3> Registro de Usuários </h3>
    <hr>
    <div class="wrapper">
    <div class="cadastrar">
        <h4> Cadastrar novo Usuário </h4>
        <hr>
        <form action="/clientes/new" method="POST">
            <div class="inserir-dados">
            <label> Nome:</label>
            <input type="text" name="nome" placeholder="Digite o nome completo" class="form-input" required>
            <label> Nome de usuário:</label>
            <input type="text" name="username" placeholder="Digite o nome de usuário" class="form-input" required>
            <label> E-mail:</label>
            <input type="email" name="email" placeholder="Digite o e-mail" class="form-input" required>
            <label>Senha:</label>
            <input type="password" name="senha" placeholder="Digite a senha" class="form-input" required>
            <br><br>
            <hr>
            <label> Permissões:</label><br>
            <input type="checkbox" name="permissao-editor">
            <label for="permissao-editor" class="texto-checkbox"> Editor</label>
            <input type="checkbox" name="permissao-leitor" > 
            <label for="permissao-leitor" class="texto-checkbox"> Leitor</label>
            <div class="div-botao">
                <button name="cadastrar-usuario" class="button-cadastro"> Cadastrar </button>
            </div>
            <br>
            <input type="hidden" name="id" value="<%= usuario.id %>">
            <input type="submit" class="btn btn-warning" value="Alterar" onclick="return confirm (`Confirme as alterações
            realizadas para o usuario <%= usuario.nomeUsuario %>?`)">
            </div>
        </form>
    </div>

<%- include ('partials/footer.ejs') %>